@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-gilroy);
  --font-display: var(--font-agenor);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-6: var(--chart-6);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-inactive: var(--inactive);
  --color-purple: var(--purple);
  --color-primary-light: var(--primary-light);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(36.532% 0.06534 252.897);
  --card: oklch(1 0 0);
  --card-foreground: oklch(36.532% 0.06534 252.897);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(36.532% 0.06534 252.897);
  --primary: oklch(44.964% 0.08101 253.339);
  --primary-foreground: oklch(0.985 0 0);
  --primary-light: oklch(44.964% 0.08101 253.339 / 0.2);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(44.964% 0.08101 253.339);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(53.15% 0.01525 251.752);
  --accent: oklch(67.823% 0.07937 134.677);
  --accent-foreground: oklch(100% 0.00011 271.152);
  --inactive: #B2A675;
  --purple: #9d98ca;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: 157 152 202; /* #9D98CA - Purple */
  --chart-2: 218 126 142; /* #DA7E8E - Red */
  --chart-3: 199 181 173; /* #C7B5AD - Brown Light */
  --chart-4: 227 214 199; /* #E3D6C7 - Brown */
  --chart-5: 142 216 248; /* #8ED8F8 - Light Blue */
  --chart-6: 155 211 174; /* #9BD3AE - Green */
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(36.532% 0.06534 252.897);
  --sidebar-primary: oklch(44.964% 0.08101 253.339);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(44.964% 0.08101 253.339);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(36.532% 0.06534 252.897);
  --foreground: oklch(0.985 0 0);
  --card: oklch(44.964% 0.08101 253.339);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(44.964% 0.08101 253.339);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(44.964% 0.08101 253.339);
  --primary-light: oklch(0.922 0 0 / 0.2);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --inactive: #B2A675;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(36.532% 0.06534 252.897);
  --chart-1: 157 152 202; /* #9D98CA - Purple */
  --chart-2: 218 126 142; /* #DA7E8E - Red */
  --chart-3: 199 181 173; /* #C7B5AD - Brown Light */
  --chart-4: 227 214 199; /* #E3D6C7 - Brown */
  --chart-5: 142 216 248; /* #8ED8F8 - Light Blue */
  --chart-6: 155 211 174; /* #9BD3AE - Green */
  --sidebar: oklch(44.964% 0.08101 253.339);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(36.532% 0.06534 252.897);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
